<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <a [routerLink]="['/servers', user.id, user.name]"
      [queryParams]="{allowEdit : '1'}"
      fragment="Loading"
      routerLinkActive="router-link-active"  class="list-group-item" *ngFor="let user of users">
        {{user.name}}
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <!-- <button class="btn btn-primary" (click)="onReload()">Load Server</button> -->
    <br>
    <app-user></app-user>
  </div>
</div>
